<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Country Data</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/area.css">
</head>
<body>
<nav class="navbar">
    <div class="navbar-brand">
        <span>Final</span>
    </div>
    <div class="navbar-menu">
        <a href="/">Back</a>
    </div>
</nav>
<h1 style="text-align: center">Global Country Areas Chart</h1>
<div>
<canvas id="countryChart" width="800" height="800"></canvas>
</div>

<script src="/static/javascripts/area.js"></script>
</body>
</html>