<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocurrency Prices</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>
<body>
<nav class="navbar">
    <div class="navbar-brand">
        <span>Final</span>
    </div>
    <div class="navbar-menu">
        <a href="/">Back</a>
    </div>
</nav>
<h1 style="text-align: center">Cryptocurrencies Chart</h1>
<div style="padding: 50px">
<canvas id="cryptoChart"></canvas>
</div>


<script src="/static/javascripts/crypto.js"></script>
</body>
</html>