<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>
<body>
<nav class="navbar">
    <div class="navbar-brand">
        <span>Final</span>
    </div>
    <div class="navbar-menu">
        <a href="/">Back</a>
    </div>
</nav>
<h2 style="text-align: center">Stock Market Prices for Google Shares</h2>
<div style="padding:30px">
    <canvas id="stockChart" height="300"></canvas>
</div>


<script src="/static/javascripts/stock.js"></script>
</body>
</html>